<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Hey!!!</h1>
  <p class="lead"><strong>This is a Sample app  for quantified and structured data from the universe of <br/>
    Ice and Fire (and the HBO series Game of Thrones).</strong></p>
  <hr class="my-4">
  <p>You can browse for different Books,  Characters and Houses <strong>Category wise</strong>
  or <strong>the entire data</strong> at a time</p>
  <a class="btn btn-primary btn-lg"  routerLink = '/list' role="button">View all Data</a>
</div>
</div>